#navbar {
    .navContainer {
        padding: 4px 25px;
    }
}

.sidenav {
    padding-top: 0;
    position: relative;
    background-color: transparent;
    width: 600px !important;
    overflow-x: visible;
    justify-content: space-between;
    flex-direction: row;
    #searchBar {
        margin-top: 0;
    }
    #closeSideNav {
        display: none;
    }
}
#openSideNav {
    display: none;
}

.browseDropDown,
.addDropDown {
    position: relative;
    display: flex;
    justify-content: center;
    .browseDropButton,
    .addDropButton {
        background-color: transparent;
        font-size: 1rem;
        color: #fff;
        padding: 0 0px;
        border: none;
        cursor: pointer;
    }
    #browseDropDownContent,
    #addDropDownContent {
        margin-top: 30px;
        text-align: center;
        padding: 20px 20px 5px 20px;
        display: none;
        position: absolute;
        background-color: transparent;
        transition: background-color 800ms;
        z-index: 1;
        a {
        margin-bottom: 10px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        }
        a:after {
            display: block;
            content: '';
            border-bottom: solid 2px #fff;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
        }
        a:hover:after {
            transform: scaleX(1);
        }
    }
}
.browseDropDown:hover #browseDropDownContent,
.addDropDown:hover #addDropDownContent {
    display: block;
}