@font-face {
    font-family: Friz Quadrata-bold;
    src: url(../fonts/FrizQuadrataEF-Bold.otf);
}

@font-face {
    font-family: Apercu-mono;
    src: url(../fonts/apercu-mono.otf);
}

@font-face {
    font-family: Apercu-light;
    src: url(../fonts/apercu-light.otf);
}