body {
    margin: 0;
    font-family: 'Apercu-mono', monospace;
    color: #232323;
    font-weight: 300;
}

#navbar {
    width: 100%;
    padding: 25px 0;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    transition: background-color 800ms;
    display: flex;
    justify-content: center;
    .navContainer { 
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    img {
        width: 120px;
    }
    #searchBar {
        padding-left: 15px;
        width: 250px;
        height: 35px;
        font-family: 'Apercu-mono', monospace;
        font-size: .8rem;
        letter-spacing: .02rem;
        border: 0;
        border-radius: 15px;
    }
    #searchBar:focus {
        outline: 0;
    }
}

h3 {
    margin: 0;
    font-family: 'Friz Quadrata-bold', sans-serif;
    font-size: 3rem;
}

.hero {
    padding: 100px 40px 0px 40px;
    height: 500px;
    background-color: #4e2791;
    background-image: url("data:image/svg+xml,%3Csvg width='272' height='166' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c59cf7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 800ms;
    #heroText {
        transition: opacity 800ms;
        h2 {
            margin: -40px 0 10px 0;
            font-family: 'Friz Quadrata-bold', sans-serif;
            font-size: 5rem;
            line-height: 4rem;
            color: #fff;
        }
        p {
            margin: 0;
            font-family: 'Apercu-light', sans-serif;
            font-size: 1.2rem;
            font-weight: 100;
            color: #fff;
        }
    }
}

.playlistHero {
    @extend .hero;
    padding: 100px 40px 40px 40px;
    height: 300px;
    background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
    justify-content: flex-end;
    align-items: flex-start;
    h2 {
        font-size: 6rem;
    }
    p {
        margin: 30px 0 0 0;
        font-size: 1rem;
    }
}

.rating {
    margin: 10px 0 0 0;
    color: #fff;
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: pointer;
    span {
        padding-right: 10px;
        width: 1.1em;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        display: inline-block;
    }
    span:hover:before,
    span:hover ~ span:before {
        content: "\2B24";
        color:#fff;
        position: absolute;
    }
}

.mainWrapper {
    padding: 40px 20px;
    transition: padding 3s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlistList {
    width: 100%;
    .songWrapper {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: flex-start;
        #songNumber {
            margin: 0 20px 0 0;
            p {
                margin: 0;
            }
        }
        #song {
            text-align: left;
            h3 {
                margin: -3px 0 0 0;
                font-size: 1.2rem;
            }
            p {
                margin: 0;
            }
        }
    }
}

#latestAlbumHeader {
    margin-top: 60px;
}

.playlistWrapper,
.latestAlbumWrapper {
    margin-top: 40px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlist,
.latestAlbum {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#addArtistForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    label {
        font-size: .8rem;
        margin-bottom: 5px;
    }
    input {
        margin-bottom: 20px;
        padding: 5px 10px;
        width: 320px;
        height: 30px;
        font-family: 'Apercu-mono', monospace;
        font-size: 1rem;
        background-color: #f2f2f2;
        border: 0;
        border-radius: 5px;
    }
    select {
        margin-bottom: 20px;
        height: 30px;
    }
    button {
        padding: 15px;
        font-family: 'Apercu-mono', monospace;
        font-size: .8rem;
        color: #fff;
        background-color: #4e2791;
        border: 0;
        border-radius: 25px;
        transition: background-color 400ms;
    }
    button:hover {
        background-color: #000;
        cursor: pointer;
    }
    input:focus,
    select:focus {
        outline: 0;
    }
}

footer {
    width: 100%;
    height: 300px;
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='272' height='166' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c59cf7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
    }
}