#modalPadding {
    padding: 40px 80px;
}

.closeModal {
    margin: -10px -40px 0 -40px;
}

.modalAlbumWrapper,
.modalPlaylistWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    .modalAlbumInfo,
    .modalPlaylistInfo {
        margin-left: 40px;
    }
    img {
        width: 150px;
    }
}

#rating {
    text-align: left;
    span {
        font-size: .5rem;
    }
}